---
layout: default
permalink: /tags.html
---

<section>

    <ul>

        {% for tag in site.tags %}
            
            <h4 id="{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}"><i class="font-icons fa fa-tag"></i>{{ tag[0] }}</h4>
            
            {% for post in tag[1] %}

                <li>

                <div class="post-date">
                    <span>{{ post.date | date: "%b %d, %Y" }}</span>
                </div>

                <div class="title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </div>

                </li>
            {% endfor %}

        {% endfor %}

    </ul>

</section>
